:root {
  /* Font and Text */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  /* Color Scheme */
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #080808;

  /* Text Rendering */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Layout */
#root {
  min-height: 100vh;
  display: flex;
}

/* Image Styles */
.imag {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex: 1;
}

/* Image Container */
.imgcontainer {
  display: flex;
  flex-direction: column;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.8); 
  backdrop-filter: blur(5px);
}

footer h2 {
  font-size: 1.4rem;
}

footer h1 {
  font-size: 0.9rem;
  font-weight: 100;
}

footer div {
  display: flex;
  flex-direction: column;
}

footer button {
  background: transparent;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.87);
  padding: 1rem;
  cursor: pointer;
}

footer button:hover,
footer button:focus {
  color: #ff7f50; 
}

/* Sidebar */
.sid {
  position: fixed;
  top: 0;
  right: 0; 
  height: 100%;
  width: 60%; /* Adjust width as needed */
  display: flex;
  flex-direction: column;
  z-index: 10;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.5); 
}

/* Background Overlay */
.bgoverlay {
  position: fixed;
  inset: 0;
  background-color: rgba(8, 8, 8, 0.4); 
  z-index: 5; 
}

/* Sidebar Content */
.sidcontent {
  z-index: 15;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 90%;
  max-width: 800px;
  margin: auto;
  background-color: #080808;
  color: white;
  outline: none;
  overflow-y: auto; 
}

/* Background Gradient */
.backgrad {
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(to top, black, rgba(255, 255, 255, 0));
}




/* Responsive Design */
@media (min-width: 640px) {
  .sid {
    position: relative;
    inset: unset;
    min-width: 30%;
  }

  .sidcontent {
    margin: unset;
  }
}
/* From Uiverse.io by david-mohseni */ 
.loader {
  position: relative;
  width: 54px;
  height: 54px;
  border-radius: 10px;
  
}
.loadingBox{
  position: absolute;
  top: 50%;
  left: 50%;
}
.loader div {
  width: 8%;
  height: 24%;
  background: rgb(128, 128, 128);
  position: absolute;
  left: 50%;
  top: 30%;
  opacity: 0;
  border-radius: 50px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  animation: fade458 1s linear infinite;
}

@keyframes fade458 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.25;
  }
}

.loader .bar1 {
  transform: rotate(0deg) translate(0, -130%);
  animation-delay: 0s;
}

.loader .bar2 {
  transform: rotate(30deg) translate(0, -130%);
  animation-delay: -1.1s;
}

.loader .bar3 {
  transform: rotate(60deg) translate(0, -130%);
  animation-delay: -1s;
}

.loader .bar4 {
  transform: rotate(90deg) translate(0, -130%);
  animation-delay: -0.9s;
}

.loader .bar5 {
  transform: rotate(120deg) translate(0, -130%);
  animation-delay: -0.8s;
}

.loader .bar6 {
  transform: rotate(150deg) translate(0, -130%);
  animation-delay: -0.7s;
}

.loader .bar7 {
  transform: rotate(180deg) translate(0, -130%);
  animation-delay: -0.6s;
}

.loader .bar8 {
  transform: rotate(210deg) translate(0, -130%);
  animation-delay: -0.5s;
}

.loader .bar9 {
  transform: rotate(240deg) translate(0, -130%);
  animation-delay: -0.4s;
}

.loader .bar10 {
  transform: rotate(270deg) translate(0, -130%);
  animation-delay: -0.3s;
}

.loader .bar11 {
  transform: rotate(300deg) translate(0, -130%);
  animation-delay: -0.2s;
}

.loader .bar12 {
  transform: rotate(330deg) translate(0, -130%);
  animation-delay: -0.1s;
}
